python-dotenv ~= 1.0
requests ~= 2.0
psycopg[binary] ~= 3.2
fastapi ~= 0.111
uvicorn[standard] ~= 0.30
numpy ~= 1.26
pillow ~= 10.4
python-multipart ~= 0.0.9
openai ~= 1.40
pymilvus == 2.6.3
torch==2.2.0+cpu
sentence-transformers == 3.3.1
